===========NOTE================
after adding appropriate values to the follwoing keys, rename the file to .env
===============================
CKAN_RECAPTCHA_PUBLICKEY=...
CKAN_RECAPTCHA_PRIVATEKEY=...
CRAWLER_TRIPLESTORE_USERNAME=...
CRAWLER_TRIPLESTORE_PASSWORD=...
CRAWLER_TRIPLESTORE_URL=...
TRIPLESTORE_URL=virtuso
CKAN_URL_ADDRESS=ckan
